aniso8601==9.0.1
bcrypt==4.1.3
black==24.4.2
blinker==1.8.2
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
Flask==3.0.0
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
Flask-Mail==0.9.1
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.1.1
greenlet==3.0.3
idna==3.7
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
mypy-extensions==1.0.0
packaging==24.0
pathspec==0.12.1
phonenumbers==8.13.36
platformdirs==4.2.1
pluggy==1.5.0
pytest==8.2.0
python-dotenv==1.0.0
pytz==2024.1
requests==2.31.0
six==1.16.0
SQLAlchemy==2.0.30
typing_extensions==4.11.0
urllib3==2.2.1
validate-email-address==1
Werkzeug==3.0.3
